body{
  background-color: #db85b6;
  max-width: 90%;
  padding: 7px;
  margin-right: 0 auto;
  margin-left: 0 auto;
}

h1{
  color: #ffffff;
  text-align: center;
  font-family: 'Chivo', sans-serif;
	font-size: 35px;
  border-style: dotted;
  border-radius: 30px;
  border-width: thick;
  border-color: #0c0b0c;

}

h2{
  margin-right: 70px;
  color: #ffffff;
  font-family: 'Chivo', sans-serif;
  font-size: 30px;
  text-align: center;
}

h3{
  color: #ffffff;
  font-family: 'Chivo', sans-serif;
  font-size: 25px;
}

p{
  line-height: 1.6;
  font-family: 'Chivo', sans-serif;
  font-size: 18px;
}
ol{
  line-height: 1.6;
  font-size: 18px;
  font-family: 'Chivo', sans-serif;
}

ul{
  line-height: 1.6;
  font-size: 18px;
  font-family: 'Chivo', sans-serif;
}

img{
  max-width: 100%;
}

img.right{
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
}

img.left{
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

a:visited {
	color:#ffffff;
}

a:hover {
	color:#0008f9;
}

a:unvisited {
	color:#f90000;
}
